@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin: 20px;
     background: #0097e6;
 }
 .btn{
    cursor: pointer;
    /* background: #4cd137; */
    background: #fbc531;
    color:#fff ;
    border: navajowhite;
 }
 h1 {
     color: #333;
 }
 
 input[type="text"], button {
     margin: 10px;
     padding: 5px;
     font-size: 16px;
 }
 .box{
    min-height: 300px;
    width: 300px;
 }
 .definition-box {
     border: 1px solid #ccc;
     padding: 10px;
     margin: 10px auto;
     background-color: #f9f9f9;
 }
 
 h2 {
     color: #333;
 }
 
 p {
     font-size: 14px;
 }
 .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
 }
@media (max-width:991px){
    .main{
        flex-direction: column;
    }
 }
